<p id="notice"><%= notice %></p>

<h1>Recipes</h1>

<table>

  <tbody>
    <% @recipes.each_slice(2) do |recipe1,recipe2| %>
      <tr>
        <td><%= link_to(recipe1) do %>
          <%= image_tag(recipe1.picture_url, width: 250, alt: recipe1.name) if recipe1.picture.present? %>
          <% end %>
        </td>
        <td><%= link_to(recipe2) do %>
          <%= image_tag(recipe2.picture_url, width: 250, alt: recipe2.name) if recipe2.picture.present? %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recipe', new_recipe_path %>
